@import 'tailwindcss';

h1 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.selected{
    background-color: gray;
}

button:disabled {
    color:white;
    background-color: white;
}

#input-text{
    background-color: white;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    min-height: 40px;
    min-width: 500px;
    color: black;
    padding: 5px;
}